<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41416187582-ii24urb1ulcgos4esmm56use61a4ohj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41416187582-ii24urb1ulcgos4esmm56use61a4ohj8</string>
	<key>API_KEY</key>
	<string>AIzaSyCPo9ODXd3wpHHMTDjq5wUzt8AHYEUkh0I</string>
	<key>GCM_SENDER_ID</key>
	<string>41416187582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.ankigpt.ankigpt.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ankigpt-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>ankigpt-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41416187582:ios:15621e7e36a8abedd8c8ef</string>
</dict>
</plist>